<div class="clear border-2"></div>
<div class="inner">
    <div class="contacts-order">
        <div>
            <div class="title">Телефон</div>
            <div class="info">{{ options.phone }}</div>
        </div>
        <div>
            <div class="title">Прием отзывов</div>
            <div class="info">{{ options.phone_feedback }}</div>
        </div>
        <div>
            <div class="title">Mail</div>
            <div class="info">{{ options.email }}</div>
        </div>
        <div>
            <div class="title">ЧЕРЕЗ САЙТ</div>
            <div class="info"><a class="popup-link" href="javascript:void(0);" data-href="#feedback">Форма обратной связи</a></div>
        </div>
    </div>
</div>
