<div class="header-type-2 main-header">
    <div class="inner">
        <div class="top-info">
            <div class="header-phone">
                <span class="f7">Телефон</span><br>
                <span>{{  MiscFunc.getThreadData('options', 'phone') }}</span>
            </div>
            <a href="/" class="logo">
                <img src="/img/logo.png" alt="">
            </a>
            <div class="header-mail header-small-mail">
                <span class="f7">Mail</span><br>
                <a href="mailto:{{ MiscFunc.getThreadData('options', 'email') }}">{{ MiscFunc.getThreadData('options', 'email') }}</a>
            </div>
        </div>
    </div>
</div>
