<div class="sliderBackground"></div>
<div class="white"></div>
<div class="inner prMenu">
    <div class="rightColumn">
        {{ misc.breadCrumbs() | raw }}
        <h2>Активация аккаунта</h2>
        <p>Ваш аккаунт успешно активирован!</p>
        <p>Пожалуйста заполните информацию о себе в разделе <a href="/cabinet">«Личная информация»</a></p>

    </div>
    <div class="leftColumn">
        {{ this.render('__navigation.twig') | raw }}
    </div>
</div>
