<div class="content-layout">
    <div class="footer-row">
        <div>
            <img class="footer-row__logo" src="/images/logo.svg" alt="Architection">
            <div>© {{ 'now' | date('Y') }} Архитекция‎</div>
        </div>
        <div>
            <a href="/policy" class="link--lined link--lined-left link--white">Политика конфиденциальности</a>
            <a href="https://t.me/{{ options.soc_tw | slice(1) }}" target="_blank" class="footer-tg">
                <img src="/images/icons/plane-black.svg" alt="">
            </a>
        </div>
    </div>
</div>