<div class="page-head page-head--color-{{ color ? color : 0 }}">
    <div class="page-head__border"></div>
    <div class="page-head__border page-head__border--right"></div>
    <div class="page-head__text">
        <div class="page-head__subtitle">{{ subtitle }}</div>
        <h1 class="page-head__title">{{ title }}</h1>
    </div>
    <img class="page-head__image" src="{{ imagePath }}" alt="">
</div>
