<a href="/" class="page__close js-disable-animation">
    <div class="page__close-icon"></div>
    <div class="page__close-progress">
        <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="_3u7D7A">
            <circle cx="50" cy="50" r="48" stroke="black" stroke-width="5" style="stroke-dasharray: 301.1; stroke-dashoffset: 301.1;"></circle>
        </svg>
    </div>
</a>
