<div class="page-header">
    <h1><i class="fa fa-folder-open-o"></i> Новый раздел<small><i class="ace-icon fa fa-angle-double-right"></i> создание нового раздела</small></h1>
</div>

{{ this.render('__mainform.twig', {'thread': thread, 'parentData': parentData, 'moduleData': moduleData}) | raw }}
