.user-rule-cat {
    background: rgba(67, 142, 185, 0.12);

}
.user-rule-block {


}
.user-rule-block_title {
    font-size: 12px;
    color: #555;
    padding-left: 20px !important;
}
.user-rule-cat_title {
    color: #555;
}
.block-list__multiselect-item {
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    border: 1px solid #999;
    border-radius: 3px;
    white-space: nowrap;
    padding: 2px 3px;
    margin: 1px;
}
.block-list__multiselect-item:hover {
    background: #999;
    color: #fff;
}
.block-list__multiselect-item.no-active {
    opacity: .35;
}

.admin-crop-image {
    vertical-align: top;
    line-height: 35px;
    margin-left: 7px;
    cursor: pointer;
}
.admin-crop-image-example {
    max-width: 100%;
}

.lang__cont {
    float: right;
}
.lang__item {
    margin-left: 10px;
    border-bottom: 1px dotted #337ab7;
}
.lang__item.is-active {
    color: #d15b47;
    border-bottom: none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}