<main class="page page_product">

    <div class="rout rout_product">

        <a class="rout__link" href="/">Главная</a> <span class="lightgray">/</span> <a href="/cart" class="rout__link">Оформление заказа</a> <span class="lightgray">/</span> <a href="/cart/success" class="rout__link">Заказ оформлен</a>

    </div>
    <!-- /.rout -->



    <div class="send">
        <h2 class="send_title">
            Ваш заказ <span>№{{ orderId }}</span> оформлен.
        </h2>
        <div class="send__text">
            <p>
                Спасибо, что выбрали нас!
            </p>
            <p>
                В ближайщее время с вати свяжется оператор.
            </p>
        </div>
        <!-- /.send__text -->
    </div>
    <!-- /.send -->




</main>
