<div class="container-wrap">
    <div id="fh5co-about">

        <h1 class="inner-page__title">Регистрация завершена</h1>

        <p><b>{{ client.name }}</b>, спасибо за регистрацию на нашем сайте.</p>
        <p>В ближайшее время мы вышлем вам Логин и Пароль на номер {{ MiscFunc.beautyPhone(client.phone) }}.</p>
        <p>Войти в личный кабинет вы сможете на <a href="/lk" target="_blank" class="link-dotted">этой странице</a>, по номеру телефона или логину.</p>


    </div>
</div>