{{ this.registerJsFile('https://api-maps.yandex.ru/2.1/?lang=ru_RU') }}

{{ form.field(model, config.key).hiddenInput({
    'placeholder': config.name,
}) | raw }}

<div class="admin-ymap" style="height: 350px;"></div>

<script>
$(document).ready(function () {

    function initAllMaps() {
        var $maps = $('.admin-ymap');
        if ($maps.length) {
            for (var i = 0; i < $maps.length; i++) {
                initMap($maps.get(i));
            }
        }
    }

    function initMap($map) {
        var $input = $($map).prev().find('input');
        var center;
        var zoom;

        if ($input.val() !== '') {
            var val = $input.val().split(';');
            center = [parseFloat(val[0]), parseFloat(val[1])];
            zoom = parseInt(val[2], 10);
        } else {
            center = [56.84086, 60.60037];
            zoom = 12;
        }

        var map = new ymaps.Map($map, {
            center: center,
            zoom: zoom,
            controls: ['zoomControl']
        });

        var marker = new ymaps.Placemark(center, {}, {
            draggable: false
        });

        map.geoObjects.add(marker);

        map.events.add('click', function (event) {
            var coords = event.get('coords');
            marker.geometry.setCoordinates(coords);
            setInfo();
        });

        map.events.add('boundschange', function () {
            setInfo();
        });

        function setInfo() {
            var $input = $($map).prev().find('input');
            var pos = marker.geometry.getCoordinates();
            var result = pos[0] + ';' + pos[1] + ';' + map.getZoom();
            $input.val(result);
        }

        setInfo();
    }

    if (typeof ymaps !== 'undefined') {
        ymaps.ready(initAllMaps);
    }

});
</script>
