<div class="page-statics">
    <div class="content-layout">
        <div class="content content--static-page">
            <div class="text-ful">
                <h1>Страница не найдена</h1>
                <p>Страница была перенесена или удалена, а может ее никогда и не существовало!</p>
            </div>
        </div>
    </div>
</div>